In [1]:
import pandas as pd
import numpy as np
import subprocess
import re
from subprocess import Popen, PIPE

In [2]:
sample_sub = pd.read_csv('sample_submission.csv')
sample_sub

           id       EAP       HPL       MWS
0     id02310  0.403494  0.287808  0.308698
1     id24541  0.403494  0.287808  0.308698
2     id00134  0.403494  0.287808  0.308698
3     id27757  0.403494  0.287808  0.308698
4     id04081  0.403494  0.287808  0.308698
5     id27337  0.403494  0.287808  0.308698
6     id24265  0.403494  0.287808  0.308698
7     id25917  0.403494  0.287808  0.308698
8     id04951  0.403494  0.287808  0.308698
9     id14549  0.403494  0.287808  0.308698
10    id22505  0.403494  0.287808  0.308698
11    id24002  0.403494  0.287808  0.308698
12    id18982  0.403494  0.287808  0.308698
13    id15181  0.403494  0.287808  0.308698
14    id21888  0.403494  0.287808  0.308698
15    id12035  0.403494  0.287808  0.308698
16    id17991  0.403494  0.287808  0.308698
17    id10707  0.403494  0.287808  0.308698
18    id07101  0.403494  0.287808  0.308698
19    id00345  0.403494  0.287808  0.308698
20    id05912  0.403494  0.287808  0.308698
21    id13443  0.403494  0.287808  0.308698
22    id09248  0.403494  0.287808  0.308698
23    id17542  0.403494  0.287808  0.308698
24    id06995  0.403494  0.287808  0.308698
25    id25159  0.403494  0.287808  0.308698
26    id25729  0.403494  0.287808  0.308698
27    id26949  0.403494  0.287808  0.308698
28    id27191  0.403494  0.287808  0.308698
29    id07668  0.403494  0.287808  0.308698
...       ...       ...       ...       ...
8362  id22510  0.403494  0.287808  0.308698
8363  id19204  0.403494  0.287808  0.308698
8364  id05758  0.403494  0.287808  0.308698
8365  id27063  0.403494  0.287808  0.308698
8366  id11773  0.403494  0.287808  0.308698
8367  id11562  0.403494  0.287808  0.308698
8368  id16208  0.403494  0.287808  0.308698
8369  id04036  0.403494  0.287808  0.308698
8370  id26159  0.403494  0.287808  0.308698
8371  id26777  0.403494  0.287808  0.308698
8372  id08501  0.403494  0.287808  0.308698
8373  id11216  0.403494  0.287808  0.308698
8374  id03410  0.403494  0.287808  0.308698
8375  id04537  0.403494  0.287808  0.308698
8376  id26628  0.403494  0.287808  0.308698
8377  id01586  0.403494  0.287808  0.308698
8378  id13421  0.403494  0.287808  0.308698
8379  id26084  0.403494  0.287808  0.308698
8380  id05375  0.403494  0.287808  0.308698
8381  id23212  0.403494  0.287808  0.308698
8382  id15980  0.403494  0.287808  0.308698
8383  id11719  0.403494  0.287808  0.308698
8384  id13109  0.403494  0.287808  0.308698
8385  id07156  0.403494  0.287808  0.308698
8386  id04893  0.403494  0.287808  0.308698
8387  id11749  0.403494  0.287808  0.308698
8388  id10526  0.403494  0.287808  0.308698
8389  id13477  0.403494  0.287808  0.308698
8390  id13761  0.403494  0.287808  0.308698
8391  id04282  0.403494  0.287808  0.308698

[8392 rows x 4 columns]

In [3]:
my_sub = pd.DataFrame(columns={'id', 'EAP','HPL', 'MWS'})
my_sub

Empty DataFrame
Columns: [MWS, HPL, id, EAP]
Index: []

In [4]:
my_sub=my_sub[['id', 'EAP','HPL', 'MWS']]
my_sub

Empty DataFrame
Columns: [id, EAP, HPL, MWS]
Index: []

In [6]:
my_sub.loc[0] = [0,1,2,3]
my_sub

/home/ubuntu/Envs/nlp/lib/python3.5/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/home/ubuntu/Envs/nlp/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   id  EAP  HPL  MWS
0   0    1    2    3

In [11]:
fast = Popen(['fasttext', 'predict-prob', 'model_2_subword.bin','-', '3'], stdin=PIPE, stdout=PIPE, stderr=PIPE)
output, err = fast.communicate()
print(output)
print(err)

b''
b''

In [7]:
!ls

dataset_explore.ipynb		       nohup.out	      spooky.train
generate_predictions_submission.ipynb  Readme.md	      spooky.valid
model_2_subword.bin		       sample_submission.csv  test.csv
model_2_subword.vec		       spooky_fastText_.txt   train.csv

In [13]:
def write_content_txt_file(self, content):
    self.clean_txt_file()
    with open(self.txtfile.absolute(), 'w') as f:
        f.write(content)
    return None

def clean_txt_file(self):
    f = open(self.txtfile.absolute(), 'r+')
    f.truncate()
    return None

## Data cleaning functions
def remove_label(self, text):
    txt = re.sub('__label__', '', text)
    return txt

def remove_new_line(self, text):
    txt = re.sub('\n', '', text)
    return txt